# See EnvironmentVariables.md for more information.

# Necessary API Keys
# -------------------

# TikTok Session ID
# Obtain your session ID by logging into TikTok and copying the sessionid cookie.
TIKTOK_SESSION_ID="b6c83b1ade82d2938dad9c079f5fa13d"

# ImageMagick Binary Path
# Download ImageMagick from https://imagemagick.org/script/download.php
IMAGEMAGICK_BINARY="C:\\Program Files\\ImageMagick-7.1.2-Q16-HDRI\\magick.exe"

# Pexels API Key
# Register at https://www.pexels.com/api/ to get your API key.
PEXELS_API_KEY="HFPm1odMS8f54cVVfwRxITkhLfqaBxOC7shdrkc0K8okShohWrTsPp1i"

# Optional API Keys
# -----------------

# OpenAI API Key
# Visit https://openai.com/api/ for details on obtaining an API key.
OPENAI_API_KEY=""

# AssemblyAI API Key
# Sign up at https://www.assemblyai.com/ to receive an API key.
ASSEMBLY_AI_API_KEY="fd5d327159f84f2cb00f2faa11d375a9"

# Google API Key
# Generate your API key through https://makersuite.google.com/app/apikey
GOOGLE_API_KEY="AIzaSyB63BpXWNbIGrvx1qKz1gGo-jbwxk31G9M"