g4f
setuptools
wheel
requests
moviepy===1.0.3
termcolor
flask
curl_cffi
flask-cors
playsound
Pillow
python-dotenv
srt_equalizer
platformdirs
undetected_chromedriver
assemblyai
brotli
google-api-python-client
oauth2client
openai
google-generativeai
